.comment:nth-child(odd) {
  background-color: lightgrey;
}

.comment {
  padding: 10px;
  justify-content: space-between;
  align-content: flex-start;
  border: 2px solid lightgray;
}

.comment-header{
  display: flex;
  align-items: flex-end;
}
